body {
text-align: center;
}

h1 {
font-size: 40px;
font-family: fantasy;
font-weight: 300;
}

#apps {
width: 100%;
height: 800px;
background-color: antiquewhite;
}

#games {
width: 100%;
height: 800px;
background-color: fuchsia;
}

#chatbot {
width: 100%;
height: 800px;
background-color: lightgoldenrodyellow;
}

img {
transition: transform.2s;
}

img:hover { 
transform: scale(0.9); 
}

.line {
height: 6px;
background-color: sandybrown;
width: 70px;
margin: 8px auto;
}